{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "0.6.x"
        }
    },
    "minMsi": 44.82,
    "minCoveredMsi": 70.16
}
